@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: black;
  color: white;
  padding: 2rem 8rem;
}
input,textarea,select{
  color:white;
}
@media (max-width:1500px){
  body{
    padding: 2rem 4rem ;
  }
}
@media (max-width:1350px){
  body{
    padding: 2rem 2rem ;
  }
}
@media (max-width:1280px){
  body{
    padding: 2rem 7rem ;
  }
}
@media (max-width:1024px){
  body{
    padding: 2rem 3rem ;
  }
}
@media (max-width:570px){
  body{
    padding: 2rem 1rem ;
  }
}